<head lang="en">
<meta charset="utf-8">
</head>
<table class="table coursetable">
	<tr>
		<td><h3>Данные ребенка</h3></td>
		<td></td>
	</tr>
	<tr>
		<td>Фамилия</td>
		<td>{{child.lastname}}</td>
	</tr>

	<tr>
		<td>Имя</td>
		<td>{{child.firstname}}</td>
	</tr>
	<tr>
		<td>Отчество</td>
		<td>{{child.patronomic}}</td>
	</tr>

	<tr>
		<td>Родитель</td>
		<td>{{child.parent.lastname}} {{child.parent.firstname}}
			{{child.parent.patronomic}}</td>
	</tr>

	<tr>
		<td>Дата рождения</td>
		<td>{{child.dob | date:'dd-MM-yyyy'}}</td>
	</tr>

	<tr>
		<td>Посещает детсад</td>
		<td><input type="checkbox" ng-model="child.childrenGardenMember"
			class="form-control" id="childrenGardenMemeber" disabled="disabled" /></td>
	</tr>

	<tr>
		<td>Может говорить</td>
		<td><input type="checkbox" ng-model="child.canSpeak"
			class="form-control" id="childrenGardenMemeber" disabled="disabled" /></td>
	</tr>

	<tr>
		<td>Есть проблемы с речью</td>
		<td><input type="checkbox" ng-model="child.hasSpeachIssues"
			class="form-control" id="childrenGardenMemeber" disabled="disabled" /></td>
	</tr>
</table>

<div>
	<a class="btn btn-primary" ui-sref="editChild({id:child.id})">Редактировать</a>
</div>

<h2 style="color: green;">Баланс: {{getTotalPaid()-getTotalAttended()}}</h2>

<h4>Курсы:</h4>
<table class="table coursetable">
	<tr ng-repeat="course in child.courses">
		<td>{{course.name}}</td>
		<td><a class="btn btn-primary"
			ui-sref="viewCourse({id:course.id})">Просмотр</a></td>
	</tr>
</table>

<h3>Посещения:</h3>
<table class="table attendencies">
	<thead>
		<th>Курс</th>
		<th>Дата посещения</th>
		<th>Стоимость посещения</th>
	</thead>
	<tr ng-repeat="att in attendencies">
		<td>{{att.course.name}}</td>
		<td>{{att.date | date:'dd-MM-yyyy'}}</td>
		<td>{{att.amount}}</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><h3>Итого: {{getTotalAttended()}}</h3></td>
	</tr>
</table>

<h3>Оплаты:</h3>
<table class="table payments">
	<thead>
		<th>Курс</th>
		<th>Плательщик</th>
		<th>Сумма</th>
		<th>Дата платежа</th>
	</thead>
	<tr ng-repeat="payment in payments">
		<td>{{payment.course.name}}</td>
		<td>{{payment.child.parent.firstname}}
			{{payment.child.parent.lastname}}</td>
		<td>{{payment.amount}}</td>
		<td>{{payment.date| date:'dd-MM-yyyy'}}</td>
	</tr>
	<tr>
	<td></td>
		<td></td>
		<td></td>
		<td><h3>Итого: {{getTotalPaid()}}</h3></td>
	</tr>
</table>


