<head lang="en">
<meta charset="utf-8">
</head>

<table class="table children">
	<tr>
		<td><h3>Дети</h3></td>
		<td></td>
	</tr>
	<tr ng-repeat="child in children">
		<td>{{child.lastname}}</td>
		<td>{{child.firstname}}</td>
		<td>{{child.patronomic}}</td>
		<td><a class="btn btn-primary" ui-sref="viewChild({id:child.id})">Просмотр</a>
			<a class="btn btn-danger" ng-click="deleteChild(child)">Удаление</a>
		</td>
	</tr>
</table>

<a ui-sref="newChild" class="btn-primary btn-lg nodecoration">Добавить
	ребенка</a>